<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yayınevi Ekle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
	
</head>
<body>
  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

          <!-- Default form subscription -->
          <form class="text-center" action="#" th:action="@{/savePublisher}" th:object="${publisher}" method="post">

            <p class="h4 mb-4">Yayınevi Ekle</p>
            
            <hr>
            <br>

            <!-- Yazar Adı -->
            <label>Yayınevi Adı</label>
            <input type="text" class="form-control mb-4" placeholder="Yayınevi Adı" th:field="*{yayineviadi}">
            
            <!-- Aciklama -->
            <label>Açıklama</label>
            <input type="text" class="form-control mb-4" placeholder="Açıklama" th:field="*{aciklama}">

            <!-- Button -->
            <button class="btn btn-danger btn-block" type="submit">Ekle</button>


          </form>
          <!-- Default form subscription -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      
      <!-- Shopping Cart table -->
	    <div class="table-responsive">
	    <hr>
	    <br>
	    <h3>Yayınevi</h3>
	    <br>
	    <hr>
		      <table class="table product-table table-cart-v-1">
		        <!-- Table head -->
		        <thead>
		          <tr>
		            <th class="font-weight-bold text-primary">
		              <h5>Yayınevi Adı</h5>
		            </th>
		            <th class="font-weight-bold text-primary">
		              <h5>Açıklama</h5>
		            </th>
		            <th></th>
		          </tr>
		        </thead>
		        <!-- Table head -->
		        <!-- Table body -->
		        <tbody>
		          <!-- First row -->
		          <tr th:each="publisher : ${listPublishers}">
		            <td th:text="${publisher.yayineviadi}"></td>
		            <td th:text="${publisher.aciklama}"></td>
		            <td>
		            <a th:href="@{'/editPublisher/' + ${publisher.id}}" type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
		                title="Edit item">Düzenle
		              </a>
		              <a th:href="@{'/deletePublisher/' + ${publisher.id}}" type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
		                title="Remove item">Sil
		              </a>
		            </td>
		          </tr>
		          <!-- First row -->
		        </tbody>
		        <!-- Table body -->
		      </table>
		    </div>
		    <!-- Shopping Cart table -->


    </section>
    <!--Section: Content-->


  </div>
</body>
</html>